<h1 id="moenavigator">MoeNavigator</h1>
<p>MoeNavigator is an attempt to write a web browser that is highly configurable, secure, anonymous and fast. It is not another GUI for Chromium or a browser engine like WebKit or Gecko. Instead, it has its own browser engine called MoeNavigatorEngine that has been written from scratch.</p>
<h2 id="quick-overview">Quick overview</h2>
<ul>
<li>License: GPLv3+</li>
<li>Mainly written in C++17</li>
<li>GUI via Qt5</li>
<li>No spying or tracking</li>
</ul>
<h2 id="repositories">Repositories</h2>
<p>There are three source code repositories:</p>
<ul>
<li><a href="https://codeberg.org/moenavigator/moenavigator">MoeNavigator itself</a></li>
<li><a href="https://codeberg.org/moenavigator/moenavigatorengine">MoeNavigatorEngine, the browser engine</a></li>
<li><a href="https://codeberg.org/moenavigator/moenavigatorengine-tools">Tools for the engine</a></li>
</ul>
<p>The easiest way to use MoeNavigator is to clone its repository and follow the instructions in the README.md file to compile it.</p>
